@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;500&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}
#softSkill{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#softSkill ul{
    padding: 0;
}
#softSkill li {
    list-style: none;
    text-align: center;
}
.articleSoftSkill{
    border: solid;
    width: 30vh;
    border-radius: 30px;
    background-color: orange;
}
.langues{
    display: flex;
    align-items: center;
}

.langues img {
    border-radius: 90px;
    width: 31px;
    height: 31px;
    margin: 20 px;
}

.loisirs  {
    border: solid;
    width: 30vh;
    border-radius: 30px;
    background-color: orange;
}

article.loisirs img {
    width: 20%;
}

.titre{
    text-align: center;
}

.titre h2{
    padding: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
    border: solid;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#contact{
    display: flex;
    justify-content: space-between;
    background-color: teal;
}

#adressEtBirthday{
    columns: 1;
}

#photoMoi{
    columns: 2;
}
#telEtMail{
    columns: 1;
}